@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<h1>Thank you for reservation. You can see a list of all your current and past reservations <a asp-controller="Booking" asp-action="MyBookings">here</a>!</h1>
@{
}
