

<select class="selectpicker">
    <option>Mustard</option>
    <option>Ketchup</option>
    <option>Barbecue</option>
</select>


<select id="my-select">
    <option>Mustard</option>
    <option>Ketchup</option>
    <option>Barbecue</option>
</select>

@{
}

@section scripts{
    $('#my-select').selectpicker();
}
